<div class="content">
    <% for(let i of allSms){ %>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <%= i.writer.name %>
                <span style="float:right">
                    <a href="/like/<%= i.id %>">👍</a>
                    <%= i.likes.length %>
                </span>
            </div>
            <div class="card-body">
                <%= i.sms %>
            </div>
        </div>
    <% } %>
</div>
