<form action="/newSms" method="post">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Escriba su sms"
                  name="contenido" id="floatingTextarea">
        </textarea>
        <label for="floatingTextarea">SMS</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
